* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.popup {
    position: absolute;
    top: 100%;
    left: -300px;
    background-color: #1F1F1F;
    border: 1px solid #1F1F1F;
    border-radius: 10px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    width: 344px;
}

.popup hr {
    border-color: #3E4042;
}

.popup span {
    display: block;
    padding: 4px 8px;
    cursor: pointer;
}

.popup span:hover {
    background-color: #f0f0f0;
}

.settingsContainer {
    display: flex;
    flex-direction: column;
}

.optionContainer {
    align-items: center;
    display: flex;
    height: 44px;
    padding: 8px;
}

.optionContainer:hover {
    background-color: #474747;
    border-radius: 10px;
}

.customIconContainer {
    align-items: center;
    background-color: #363636;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    width: 28px;
    height: 28px;
    margin-right: 10px;
}

.customIcon {
    font-size: 16px;
    line-height: 1;
}

.optionContainer p {
    font-weight: 500;
    font-size: .9375rem;
}